<%- include('../partials/head'); %>
    <%- include('../partials/header'); %>
        <%- include('../partials/nav'); %>



            <!--========== CONTENTS ==========-->
            <main>
                <section><br><br></section>
                <section>
                    <h1>Data User</h1>
                    <hr>
                    <button onclick="document.getElementById('userModal').style.display='block'"
                        class="w3-button w3-teal w3-round-large">Tambah</button>
                    <div class="container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">ID</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Password</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% var i=1; users.forEach(function(user){ %>
                                    <tr>
                                        <td>
                                            <%= i %>
                                        </td>
                                        <td>
                                            <%= user._id %>
                                        </td>
                                        <td>
                                            <%= user.username %>
                                        </td>
                                        <td>
                                            <%= user.email %>
                                        </td>
                                        <td>
                                            <div class="w3-bar">
                                                <button onclick="document.getElementById('userModal').style.display='block'
                                                document.getElementById('username').value='<%= user.username%>'
                                                document.getElementById('email').value='<%= user.email%>'
                                                document.getElementById('password').value='<%= user.password%>'
                                                document.getElementById('formUser').action='user/edit/<%= user._id%>'"
                                                    class="w3-button w3-teal w3-round-large">Edit</button>
                                                <button onclick="" class="w3-button w3-red w3-round-large">Del</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <% i++ }) %>
                                        </br>
                            </tbody>
                        </table>
                    </div>
                </section>
                <section>
                    <%- include('../partials/userModal'); %>
                </section>
            </main>



            <!--========== MAIN JS ==========-->
            <%- include('../partials/footer'); %>